[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run db:generate && npm run db:seed && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
